@inherits LayoutComponentBase

@Body

<div id="blazor-error-ui" data-nosnippet class="fixed bottom-0 left-0 right-0 bg-warning text-warning-content p-3 text-sm z-50 hidden">
    An unhandled error has occurred.
    <a href="." class="link">Reload</a>
    <span class="dismiss cursor-pointer absolute right-3 top-2">✕</span>
</div>
