bin/
obj/
/packages/
riderModule.iml
/_ReSharper.Caches/
.idea/.idea.Sigil/.idea/

# Auto Generated
/**/wwwroot/css/site.css
/**/Styles/daisyui*.mjs
/**/Tools/tailwindcss*

# Docker
.env

# Claude Code
.claude
claude-plans/
CLAUDE.md
