@import "tailwindcss";
@tailwind base;
@tailwind components;
@tailwind utilities;


@source not "./tailwindcss.exe";
@source not "./daisyui{,*}.mjs";
@source "../../Sigil.Server.Client/";

@plugin "./daisyui.mjs";

@plugin "./daisyui-theme.mjs";


.menu-dropdown-show + .menu-dropdown {
    display: block;
}

.stretched-link::after {
    position: absolute;
    inset: 0;
    z-index: 1;
    pointer-events: auto;
    content: "";
}